

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-size: 18px;
  background: #fff;
}

#sprintEnd {
  margin-bottom: 1em;
  padding: 10px 0;
  background: #333;
  color: #eee;
}

.sprintDanger {
  background: #a94442 !important;
}

.container-fluid {
  margin-left: 30px;
  margin-right: 30px;
}

.text-success circle {
  fill: #3c763d;
}

.text-danger circle {
  fill: #a94442;
}

.text-warning circle {
  fill: #fcf8e3;
}

.text-active circle {
  fill: #f5f5f5;
}

.text-normal circle {
  fill: #999;
}

#jenkinsBuilds ul {
  font-size: 2em;
  line-height: 2em;
  list-style: none;
  padding-left: 0;
}

#github ul {
  list-style: none;
  padding-left: 0;
}

.row .row {
  margin-bottom: 2em;
}









