git_*
ssh_*
ssh/conf/config
ssh/conf/configPersonal
dashboard/data/*.json
dashboard/.idea/
dashboard/dashboard.iml
dashboard/data/PlatformChecking/*
!dashboard/data/PlatformChecking/*.sh
imdoing/*.pyc
imdoing/*.db