<script id="templateStatsEquipe" type="text/html">
  {{#members}}
    <tr class="{{wipStatus}}">
      <td class="text-left"><strong>{{name}}</strong></td>
      <td class="text-right">{{issues.closed}}</td>
      <td class="text-right">{{issues.new}}</td>
      <td class="text-right">{{issues.open}}</td>
    </tr>
  {{/members}}
  {{^members}}
    <tr>
      <td colspan="4">Pas de stats. C'est plutôt mauvais signe.</td>
    </tr>
  {{/members}}
</script>
<script id="templateStatsClient" type="text/html">
  {{#projetsClient}}
    <tr class={{deadlineStatus}}>
      <td class="text-left"><strong>{{name}}</strong></td>
      <td class="text-right">{{total}}</td>
      <td class="text-right">{{closed}}</td>
      <td class="text-right">{{open}}</td>
      <td class="text-center"><strong>{{new}}</strong></td>
      <td class="text-right">{{deadline}}&nbsp;h</td>
    </tr>
  {{/projetsClient}}
  {{^projetsClient}}
    <tr>
      <td colspan="6">Pas de stats. C'est plutôt mauvais signe.</td>
    </tr>
  {{/projetsClient}}
</script>
<script id="templateStatsSysFera" type="text/html">
  {{#projetsSysFera}}
    <tr>
      <td class="text-left"><strong>{{name}}</strong></td>
      <td class="text-right">{{total}}</td>
      <td class="text-right">{{closed}}</td>
      <td class="text-right">{{open}}</td>
      <td class="text-center"><strong>{{new}}</strong></td>
      <td class="text-right">{{deadline}}&nbsp;h</td>
    </tr>
  {{/projetsSysFera}}
  {{^projetsSysFera}}
    <tr>
      <td colspan="5" class="text-center danger">Pas de stats. C'est plutôt mauvais signe.</td>
    </tr>
  {{/projetsSysFera}}
</script>
<script id="templateJenkins" type="text/html">
  {{#jenkinsBuilds}}
    <li class="status text-{{status}}">
      <svg width="26px" height="26px" xmlns="http://www.w3.org/2000/svg">
        <circle cx="13" cy="13" r="13" stroke-width="0" fill="#000" />
      </svg>
      &nbsp;<span class="project">{{name}}</span>
    </li>
  {{/jenkinsBuilds}}
  {{^jenkinsBuilds}}
    <tr>
      <td colspan="4">Pas de stats. C'est plutôt mauvais signe.</td>
    </tr>
  {{/jenkinsBuilds}}
</script>