<html>
<body>
<script id="templateStatsEquipe" type="text/html">
  {{#users}}
    <tr class="{{wipStatus}}">
      <td class="text-left"><strong>{{name}}</strong></td>
      <td class="text-right">{{issues.new}}</td>
      <td class="text-right">{{issues.open}}</td>
    </tr>
  {{/users}}
  {{^users}}
    <tr>
      <td colspan="4" class="text-center alert-danger">Aucun ticket équipe n'a été trouvé.</td>
    </tr>
  {{/users}}
</script>
<script id="templateStatsClient" type="text/html">
  {{#customers}}
    <tr class={{deadlineStatus}}>
      <td class="text-left"><strong>{{name}}</strong></td>
      <td class="text-right">{{total}}</td>
      <td class="text-right">{{closed}}</td>
      <td class="text-right">{{open}}</td>
      <td class="text-center"><strong>{{new}}</strong></td>
      <td class="text-right">{{deadline}}&nbsp;h</td>
    </tr>
  {{/customers}}
  {{^customers}}
    <tr>
      <td colspan="6" class="text-center alert-danger">Aucun projet client n'a été trouvé.</td>
    </tr>
  {{/customers}}
</script>
<script id="templateStatsSysFera" type="text/html">
  {{#sysfera}}
    <tr>
      <td class="text-left"><strong>{{name}}</strong></td>
      <td class="text-right">{{total}}</td>
      <td class="text-right">{{closed}}</td>
      <td class="text-right">{{open}}</td>
      <td class="text-center"><strong>{{new}}</strong></td>
      <td class="text-right">N/A</td>
    </tr>
  {{/sysfera}}
  {{^sysfera}}
    <tr>
      <td colspan="6" class="text-center alert-danger">Aucun projet SysFera n'a été trouvé.</td>
    </tr>
  {{/sysfera}}
</script>
<script id="templateChangelogs" type="text/html">
  <div class="row">
    {{#branches}}
      <div id="{{type}}" class="col-md-6">
        <h2>Branche {{type}}</h2>
        {{#repos}}
          <h3 class="{{name}}">{{name}} {{start}}</h3>
          {{#trackers}}
            <h4 {{^messages}}class="hide"{{/messages}} ><b>{{type}}&nbsp;:</b></h4>
            <ul class="list">
              {{#messages}}
              <li>{{.}}</li>
              {{/messages}}
            </ul>
          {{/trackers}}
        {{/repos}}
      </div>
    {{/branches}}
    {{^branches}}
      <div class="col-md-12 alert alert-danger">
        <p>Impossible de récupérer les commits GitHub.</p>
      </div>
    {{/branches}}
  </div>
</script>
<script id="templateDeployments" type="text/html">
  {{#clients}}   
    <div class="alert alert-{{status}}">
      <div>
        <span class="lead">{{nom}}</span>
        {{#errors}}
          <span class="pull-right">{{failed}} test(s) échoué(s).</span>
        {{/errors}}
        {{^errors}}
          <span class="pull-right">Aucune erreur, parfait&nbsp;!</span>        
        {{/errors}}
        <br/><span class="smalltext pull-right">Mise à jour&nbsp;: {{date}}</span>
      </div>
    </div> 
  {{/clients}}
  {{^clients}}
    <div class="alert alert-info">
      <div>
        Aucun déploiement n'est surveillé.
      </div>
    </div>
  {{/clients}}
</script>
</body>
</html>
